/* This CSS resource incorporates links to font software which is the
   valuable copyrighted property of Type Network, Inc. and/or their
   suppliers. You may not attempt to copy, install, redistribute,
   convert, modify or reverse engineer this font software. Please
   contact Type Network with any questions: www.typenetwork.com */

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('https://cloud.typenetwork.com/projectLicenseWeb/13844/fontfile/woff2/?afa76983d27a4cca21bc35b44a6c6279c6250cd4') format('woff2'),
         url('https://cloud.typenetwork.com/projectLicenseWeb/13844/fontfile/woff/?afa76983d27a4cca21bc35b44a6c6279c6250cd4') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('https://cloud.typenetwork.com/projectLicenseWeb/13845/fontfile/woff2/?afa76983d27a4cca21bc35b44a6c6279c6250cd4') format('woff2'),
         url('https://cloud.typenetwork.com/projectLicenseWeb/13845/fontfile/woff/?afa76983d27a4cca21bc35b44a6c6279c6250cd4') format('woff');
    font-style: normal;
    font-weight: bold;
}

body, html, #Stage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: #111;
    color: white;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

* {
    position: absolute;
    outline: none;
    border: none;
}

span, br, a {
    position: relative;
}

a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
